<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865242650943-bf2pl8fqh9molljk4m16mr94nnnagq0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865242650943-bf2pl8fqh9molljk4m16mr94nnnagq0m</string>
	<key>API_KEY</key>
	<string>AIzaSyBn7SF-N_i1BYAcmas3UMlnm0CbGzPiNtg</string>
	<key>GCM_SENDER_ID</key>
	<string>865242650943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spring21.YUP253.YUP253</string>
	<key>PROJECT_ID</key>
	<string>yup-253</string>
	<key>STORAGE_BUCKET</key>
	<string>yup-253.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865242650943:ios:9a98fbc61c3c8b5dbb1b8a</string>
</dict>
</plist>